

$icon-001-user: "\EA01" !default;

$icon-002-network: "\EA02" !default;

$icon-003-twitter-logo-silhouette: "\EA03" !default;

$icon-004-right-arrow: "\EA04" !default;

$icon-facebook: "\EA05" !default;

$icon-instagram: "\EA06" !default;

$icon-pinterest: "\EA07" !default;

$icon-twitter: "\EA08" !default;

$icon-youtube: "\EA09" !default;