

$icon-001-pinterest-logo: "\EA01" !default;

$icon-002-twitter-logo-silhouette: "\EA02" !default;

$icon-003-instagram-social-network-logo-of-photo-camera: "\EA03" !default;

$icon-004-facebook-logo: "\EA04" !default;

$icon-005-youtube-logo: "\EA05" !default;